body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: auto;
}


/* INDEX */


/* navigation */

.navigation {
    background: #333;
    color: white;
    height: 80px;
    position: relative;
}

.navigation h1 {
    float: left;
}

.navigation ul {
    list-style-type: none;
    float: right;
    width: 40%;
    padding: 15px;
}

.navigation ul li {
    display: inline;
    margin-left: 3%;
}

.navigation ul li a:hover {
    color: #02ACEE;
}

.navigation li a {
    text-decoration: none;
    margin-left: 3%;
    color: white;
}


/* END navigation */


/*  content*/

.all {
    width: 87%;
    padding: 20px;
}

.content {
    background-color: #02ACEE;
    padding: 10px;
    height: 300PX;
}

.pa1 {
    color: white;
    width: 600px;
    padding: 20px;
    width: 500px;
}

.imgpc {
    padding: 25px;
    font-size: 30px;
    float: right;
    width: 500px;
}


/* END content */


/*  text-c*/

.text-c {
    height: 700PX;
}

.text-c .item {
    width: 35%;
    height: 300px;
    text-align: center;
    margin-top: 100px;
    margin-left: 10%;
    float: left;
}

.text-c .item h3 {
    color: #02ACEE;
    font-size: 19px;
    text-align: left;
}

.text-c .item h4 {
    text-align: left;
}

.text-c .item a {
    background-color: #333;
    text-decoration: none;
    color: white;
    padding: 2PX;
}


/* END text-c */


/* start imge */

.imge {
    height: 500px;
    background-color: #02ACEE;
    color: white;
}


/* end imge */

.imge h2 {
    text-align: center;
    padding: 20px;
}

.imge img {
    padding: 10px;
    width: 25%;
    height: 300px;
    float: left;
    margin-left: 5%;
    ;
}


/* footer */

.footer {
    background-color: #333;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
}


/* END footer */


/* END INDEX */


/* menu */

.menu {
    background-color: #22C0FD;
    height: 50px;
}


/* END menu */

.map {
    padding: 30px;
    text-align: center;
}

.text-Contact {
    height: 620PX;
}

.text-Contact .item {
    width: 35%;
    height: 300px;
    text-align: center;
    margin-top: 100px;
    margin-left: 10%;
    float: left;
}

.text-Contact .item h4 {
    color: #02ACEE;
    font-size: 19px;
    text-align: left;
}

.text-Contact .item p {
    text-align: left;
}

.text-c .item a {
    text-decoration: none;
}

.headquarters {
    text-align: center;
    background-color: #02ACEE;
    height: 500px;
    padding: 10px;
    color: white;
}

.headquarters hr {
    width: 30%;
}


/* START about school */

.img-p1 {
    padding: 50px;
    height: 400px;
}

.img-p2 {
    padding: 50px;
    height: 400px;
    background-color: #02ACEE;
}

.img-p3 {
    padding: 50px;
    height: 400px;
}

.AboutSchool1 {
    color: #333;
    width: 600px;
}

.imgpc1 {
    font-size: 30px;
    float: right;
}

.AboutSchool2 {
    color: white;
    width: 600px;
}

.imgpc2 {
    font-size: 30px;
    float: right;
}

.AboutSchool3 {
    color: #333;
    width: 600px;
}

.imgpc3 {
    font-size: 30px;
    float: right;
}


/* end about school */


/* start  Courses*/

.Courses1 {
    padding: 50px;
    height: 320px;
}

.Courses2 {
    background-color: #02ACEE;
    padding: 50px;
    height: 320px;
}

.Courses3 {
    padding: 50px;
    height: 320px;
}

.Courses4 {
    background-color: #02ACEE;
    padding: 50px;
    height: 350px;
}

.imgp-1 {
    font-size: 30px;
    float: right;
}

.p-1 {
    color: #333;
    width: 600px;
}

.imgp-2 {
    font-size: 30px;
    float: right;
}

.p-2 {
    color: white;
    width: 600px;
}

.imgp-3 {
    font-size: 30px;
    float: right;
}

.p-3 {
    color: #333;
    width: 600px;
}

.imgp-4 {
    font-size: 30px;
    float: right;
}

.p-4 {
    color: white;
    width: 600px;
}


/* end Courses*/


/* start feedback */

.feedback {
    height: 750px;
    padding: 50px;
}

.feedback  input,
select {
    padding: 10px;
    margin: 5px;
    width: 100%;
    display: inline-block;
    border: 1px solid #02ACEE;
    border-radius: 10px;
    box-sizing: border-box;
    color: #333;
}

 textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #02ACEE;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.feedback .subm {
    width: 200px;
    background-color: #02ACEE;
    color: white;
    padding: 10px;
}

.subm:hover {
    color: white;
    background-color: black;
}


/* end feedback */


/* Start login */

#login {
    padding: 20px;
    height: 250px;
}

.section {
    margin: 0 auto;
    max-width: 20%;
    ;
}

.login form, input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #02ACEE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 10px;
    resize: vertical;
}
.login form, input[type=password]
 {
    width: 100%;
    padding: 12px;
    border: 1px solid #02ACEE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 10px;
    resize: vertical;
}

.login form, input[type=button] {
    background-color: #02ACEE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login form, input[type=button]:hover {
    background-color: black;
    color: #52d6f4;
}

.error-msg {
    font-size: 15px;
    color: red;
}